.blog {
  &__img {
    height: 350px;
    background-color: var(--color-black);

    picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      height: 250px;
    }
  }

  &__inner {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 3rem;

    @include tablet {
      grid-template-columns: auto 1fr;
    }

    @include sm-tablet {
      grid-template-columns: 1fr;
    }
  }
}