.callback-form {
  max-width: 400px;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 5px;
  
  &--home {
    position: relative;
    bottom: -2rem;
    
    @include sm-tablet {
      margin-bottom: 2rem;
      bottom: 0;
      order: 3;
    }
  }

  &--blog {
    @include sm-tablet {
      max-width: 100%;
    }
  }

  &__header {
    padding: 1.33rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-darkblue);
  }

  &__title {
    color: var(--color-white);
    font-family: var(--title);
    font-size: var(--font-xxl);
    font-weight: 900;
    line-height: 3.2rem;
    text-align: left;
  }

  &__desc {
    color: var(--color-white);
    font: var(--primary);
    text-align: left;
  }

  &__content {
    padding: 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;

    .btn {
      margin-top: 2.33rem;
    }
  }

  &__input {
    padding-left: 3rem;
    color: var(--color-white);
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: left;
    background-position: center left;
    background-position-x: 15px;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgba(#fff, 0.25);
    transition: var(--default);

    &--name.lazy-bg-loaded {
      background-image: url('../img/person.svg') !important;
    }

    &--tel.lazy-bg-loaded {
      background-image: url('../img/call.svg') !important;
    }

    &--email.lazy-bg-loaded {
      background-image: url('../img/mail.svg') !important;
    }

    &::placeholder {
      color: var(--color-white);
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &:focus {
      border-bottom: 1px solid var(--color-white);
    }
  }

  @include mobile {
    max-width: 100%;
  }
}