<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html">
        <svg class="logo" aria-label="Center Logistic">
          <use href="img/sprite.svg#logo"/>
        </svg>
      </a>
      <button class="burger" aria-label="Menu">
        <span></span>
        <span></span>
      </button>
      <nav class="nav">
        <a href="index.html" class="nav__link">Home page</a>
        <a href="page.html" class="nav__link">Privacy Policy</a>
        <a href="page.html" class="nav__link">Terms &amp; Conditions</a>
      </nav>
    </div>
  </div>
</header>