<section class="modal" id="modal-thanks">
  <div class="modal__content">

    <button class="modal-close" type="button" aria-label="Close Window"></button>

    <div class="modal__inner">

      <div class="modal__body">
        <svg class="modal__icon" focusable="false" aria-hidden="true">
          <use href="img/sprite.svg#success"/>
        </svg>
        <h2 class="modal__title">Thanks for your request</h2>
        <p class="modal__subtitle">We call you back as soon as possible!</p>
      </div>

      <div class="modal__footer">
        <h3 class="modal__name">Our contacts</h3>
        <ul class="modal__list">
          <li class="modal__item">
            New York, Street, ZIP code
          </li>
          <li class="modal__item">
            Phone: <a class="modal__link" href="tel:+9948373123">+9948373123</a>
          </li>
          <li class="modal__item">
            E-mail: <a class="modal__link" href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>