<section class="modal" id="modal-callback">
  <div class="modal__content">

    <button class="modal-close" type="button" aria-label="Close Window"></button>

    <div class="modal__inner">
      
      <div class="modal__header">
        <h2 class="modal__title">Need to deliver your cargo? <br>We can help!</h2>
        <p class="modal__subtitle">Fill a little form and we will call you back!</p>
      </div>

      <form class="modal__form" action="/" method="post">

        <input class="modal__input modal__input--name" type="text" name="firstname" placeholder="Your name" required>

        <input class="modal__input modal__input--tel" type="tel" name="phone" placeholder="Your phone" required>

        <input class="modal__input modal__input--email" type="email" name="email" placeholder="Your e-mail" required> 

        <button class="btn btn--large" type="submit">Call me back</button> 
      </form>

      <div class="modal__footer">
        <h3 class="modal__name">Our contacts</h3>
        <ul class="modal__list">
          <li class="modal__item">
            New York, Street, ZIP code
          </li>
          <li class="modal__item">
            Phone: <a class="modal__link" href="tel:+9948373123">+9948373123</a>
          </li>
          <li class="modal__item">
            E-mail: <a class="modal__link" href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>